@import '../abstract/_variaveis'
[flappy-bird]
    position: relative
    border: solid 5px dodgerblue
    width: 900px
    height: 500px
    background-color: deepskyblue
    overflow: hidden
    .passaro
        position: absolute
        display: none
    .par-de-barreiras
        position: absolute
        top: 0
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        .barreira
            display: flex
            flex-direction: column
            align-items: center
            .boca-cano
                height: 30px
                width: 110px
                background: $gradiente-cano
                border: solid 2px black
            .corpo-cano
                height: 150px
                width: 90px
                background: $gradiente-cano
                border-left: solid 2px black
                border-right: solid 2px black
    .btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 2em
        padding: .5em 3em
        background-color: $cor-verde-claro
        color: white
        text-shadow: 1px 1px 2px $cor-preta
        border-radius: 10px
        cursor: pointer
        font-weight: bold
    .progresso
        position: absolute
        top: 2%
        right: 2%
        z-index: 4
        font-size: 3em
        color: $cor-branca
        font-family: $fonte-pontuacao
